---
import { Image } from "astro:assets";

import IconSupplying from "../../assets/graphic/icon-supplying.png";
import IconInstalling from "../../assets/graphic/icon-installing.png";
import IconMaintaining from "../../assets/graphic/icon-maintaining.png";
---

<section
  class="bg-blue-900 px-5 md:px-10 py-20 text-white flex flex-col md:flex-row gap-10 justify-between"
>
  <div class="flex-1 max-w-[400px] flex md:flex-col gap-5">
    <Image
      src={IconSupplying}
      alt="Icon graphic to represent SJU service: Supplying industrial pump machine"
      class="w-16 h-16"
    />

    <div>
      <h3 class="mt-3 mb-2">Supplying</h3>
      <p>
        Kami menyediakan berbagai macam pompa dan suku cadang dari berbagai
        merek ternama.
      </p>
    </div>
  </div>

  <div class="flex-1 max-w-[400px] flex md:flex-col gap-5">
    <Image
      src={IconInstalling}
      alt="Icon graphic to represent SJU service: Installing industrial pump machine"
      class="w-16 h-16"
    />

    <div>
      <h3 class="mt-3 mb-2">Installing</h3>
      <p>Instalasi pompa baru dan pemasangan suku cadang.</p>
    </div>
  </div>

  <div class="flex-1 max-w-[400px] flex md:flex-col gap-5">
    <Image
      src={IconMaintaining}
      alt="Icon graphic to represent SJU service: Maintaining industrial pump machine"
      class="w-16 h-16"
    />

    <div>
      <h3 class="mt-3 mb-2">Maintaining</h3>
      <p>
        Kami mengoperasikan dan menyediakan layanan perbaikan dan penggantian
        pompa yang komprehensif, jujur, dan dapat diandalkan
      </p>
    </div>
  </div>
</section>
