---
import MainLayout from "../layout/MainLayout.astro";
const headcontent = {
  title: "Kontak",
};
---

<!-- {alamat === "/contact" ? <div>Layout khusus kontak</div> : <MainLayout />} -->
<MainLayout>Kontak</MainLayout>
