---
import MainLayout from "../layout/MainLayout.astro";
import Header from "../components/homepage/Header.astro";
import FeaturedBrands from "../components/homepage/FeaturedBrands.astro";
import CoreServices from "../components/homepage/CoreServices.astro";
import OtherBrands from "../components/homepage/OtherBrands.astro";

const headcontent = {
  title:
    "SANDY JAYA UTAMA | Penyedia dan servis pompa industri, suku cadang, mekanikal dan elektrikal",
  description:
    "Penyedia pompa air industri dan suku cadang seperti Grundfos, Ebara, Torishima, Sihi, Tsurumi Pump, OBL, Oriental Koshin",
  keywords: "Penyedia Pompa Air Industri di Indonesia, Ebara, Grundfos",
  canonical: "https://www.sandyjayautama.com",
};
---

<MainLayout headcontent={headcontent}>
  <main>
    <Header />
    <CoreServices />
    <FeaturedBrands />
    <OtherBrands />
  </main>
</MainLayout>
