---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.svg" />

    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="min-h-vh p-10">
      <section
        class="font-brand flex gap-8 flex-col max-w-2xl border-b border-blue-200 pb-8 mt-8"
      >
        <p
          class="text-xs font-medium py-2 px-4 bg-blue-100 text-blue-950 w-fit rounded-full"
        >
          Instrument Sans
        </p>
        <h1 class="text-6xl font-thin text-brand-sea-blue">
          Utilizing Current Potential
        </h1>
        <p class="leading-relaxed">
          You design products, not just screens. When you create frames in
          <em class="text-brand-sea-blue">@figma</em>
          , you already know how they fit together — which buttons users can press
          & what happens when they do. Let's talk about the new "Make prototype"
          feature, which uses AI to bring those static frames to life.
        </p>

        <div class="flex gap-3">
          <div
            class="rounded-md px-5 py-3 bg-brand-sea-blue w-fit font-medium text-white flex-1 text-center"
          >
            Primary Button
          </div>
          <div
            class="rounded-md px-5 py-3 border border-blue-950 w-fit font-medium text-blue-950 flex-1 text-center"
          >
            Secondary Button
          </div>
        </div>
      </section>

      <section
        class="flex gap-8 flex-col max-w-2xl border-b border-blue-200 pb-8 mt-8"
      >
        <p
          class="text-xs font-medium py-2 px-4 bg-blue-100 text-blue-950 w-fit rounded-full"
        >
          Inter
        </p>
        <h1 class="text-6xl font-thin text-brand-sea-blue">
          Utilizing Current Potential
        </h1>
        <p class="leading-relaxed">
          You design products, not just screens. When you create frames in
          <em class="text-brand-sea-blue">@figma</em>
          , you already know how they fit together — which buttons users can press
          & what happens when they do. Let's talk about the new "Make prototype"
          feature, which uses AI to bring those static frames to life.
        </p>

        <div class="flex gap-3">
          <div
            class="rounded-md px-5 py-3 bg-brand-sea-blue w-fit font-medium text-white flex-1 text-center"
          >
            Primary Button
          </div>
          <div
            class="rounded-md px-5 py-3 border border-blue-950 w-fit font-medium text-blue-950 flex-1 text-center"
          >
            Secondary Button
          </div>
        </div>
      </section>

      <section
        class="font-onest flex gap-8 flex-col max-w-2xl border-b border-blue-200 pb-8 mt-8"
      >
        <p
          class="text-xs font-medium py-2 px-4 bg-blue-100 text-blue-950 w-fit rounded-full"
        >
          Onest
        </p>
        <h1 class="text-6xl font-thin text-brand-sea-blue">
          Utilizing Current Potential
        </h1>
        <p class="leading-relaxed">
          You design products, not just screens. When you create frames in
          <em class="text-brand-sea-blue">@figma</em>
          , you already know how they fit together — which buttons users can press
          & what happens when they do. Let's talk about the new "Make prototype"
          feature, which uses AI to bring those static frames to life.
        </p>

        <div class="flex gap-3">
          <div
            class="rounded-md px-5 py-3 bg-brand-sea-blue w-fit font-medium text-white flex-1 text-center"
          >
            Primary Button
          </div>
          <div
            class="rounded-md px-5 py-3 border border-blue-950 w-fit font-medium text-blue-950 flex-1 text-center"
          >
            Secondary Button
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
