---
import MainLayout from "../../layout/MainLayout.astro";
import Breadcrumb from "../../components/product/Breadcrumb.astro";
import { getCollection, getEntry } from "astro:content";
import ProductCard from "../../components/product/ProductCard.astro";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allProducts = await getCollection("products");

// Get a single entry from a collection.
// Requires the name of the collection and either
// the entry `slug` (content collections) or `id` (data collections)
// Example: retrieve `src/content/authors/grace-hopper.json`
// const graceHopperProfile = await getEntry('authors', 'grace-hopper');
// console.log(allProducts);
---

<style>
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
  }
</style>

<MainLayout>
  <Breadcrumb />
  <main>
    <section class="flex flex-col lg:flex-col gap-4 relative overflow-visible">
      <div
        class="flex-1 bg-white border-b border-blue-100 h-fit sticky top-[80px] left-0"
      >
        <p class="font-medium text-lg p-4 text-slate-300">
          Filter (in development)
        </p>
      </div>
      <div class="custom-grid gap-5 p-4">
        {
          allProducts.map((p) => {
            return (
              <ProductCard
                name={p.data.name}
                image={p.data.images}
                slug={p.slug}
              />
            );
          })
        }
      </div>
    </section>
  </main>
</MainLayout>
